<div class="animate__animated animate__fadeInDown">
    <form [formGroup]="formulario" (submit)="onSubmit()">
        <div class="row">
            <div class="col-lg-12">
                <c-card cardTitle="Licitação Fase - 1">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="controls" validator>
                                <label class="col-form-label" for="id">ID</label>
                                <div class="controls">
                                    <div class="input-prepend input-group" formGroupName="arquivo">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">ID</span>
                                        </div>
                                        <input type="text" id="id" class="form-control" formControlName="id" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="controls" validator>
                                <label class="col-form-label control-label" for="exercicioLicitacao">Exercício
                                    do edital da
                                    licitação</label>
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <input type="text" id="exercicioLicitacao" class="form-control"
                                        formControlName="exercicioLicitacao" [OnlyNumber]="true" placeholder="Ex: 2020"
                                        autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="controls" validator>
                                <label class="col-form-label control-label" for="numeroLicitacao">Número
                                    licitação</label>
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">N°</span>
                                    </div>
                                    <input type="number" id="numeroLicitacao" class="form-control"
                                        formControlName="numeroLicitacao" placeholder="Ex: 1" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="controls" validator>
                                <label class="col-form-label control-label" for="dataPrevistaAberturaSessao">Data
                                    Prevista
                                    Abertura Sessão</label>
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <input type="date" id="dataPrevistaAberturaSessao" name="dataPrevistaAberturaSessao"
                                        class="form-control" formControlName="dataPrevistaAberturaSessao"
                                        autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="controls" validator>
                                <label class="col-form-label control-label" for="numeroProcessoAdministrativo">Nº do
                                    Processo Administrativo</label>
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">N°</span>
                                    </div>
                                    <input type="text" id="numeroProcessoAdministrativo"
                                        name="numeroProcessoAdministrativo" class="form-control"
                                        formControlName="numeroProcessoAdministrativo" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="controls" validator>
                                <label class="col-form-label control-label" for="idUnidadeGestora">Unidade
                                    Gestora</label>
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">ID</span>
                                    </div>
                                    <input type="text" id="idUnidadeGestora" name="idUnidadeGestora"
                                        class="form-control" formControlName="idUnidadeGestora" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <app-file-upload [formGroup]="formulario" title="Documento PDF" extensions=".pdf">
                            </app-file-upload>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="controls" validator>
                                <label class="col-form-label control-label" for="objeto">Objeto</label>
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                                    </div>
                                    <textarea id="objeto" name="objeto" class="form-control" formControlName="objeto"
                                        autocomplete="off">
                                                </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="controls" validator>
                                <label class="col-form-label" for="codModalidadeLicitacao">Modalidade da
                                    Licitação</label>
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tipo</span>
                                    </div>
                                    <select class="form-control" id="codModalidadeLicitacao"
                                        formControlName="codModalidadeLicitacao">
                                        <option></option>
                                        <option *ngFor="let item of modalidadeLicitacao" [ngValue]="item.codigo">
                                            {{item.descricao}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div
                                *ngIf="formValue('codModalidadeLicitacao') == 1 then numeroDeConvidados else descricaoPremioOuRemuneracaoConcurso">
                            </div>
                            <ng-template #numeroDeConvidados>
                                <label class="col-form-label" for="numeroDeConvidados">Número de convidados</label>
                                <div class="controls" validator>
                                    <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">N°</span>
                                        </div>
                                        <input type="number" class="form-control" id="numeroDeConvidados"
                                            formControlName="numeroDeConvidados" />
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template #descricaoPremioOuRemuneracaoConcurso>
                                <ng-container *ngIf="formValue('codModalidadeLicitacao') == 4">
                                    <label class="col-form-label" for="descricaoPremioOuRemuneracaoConcurso">Descreve o
                                        prêmio ou a
                                        remuneração do vencedor do Concurso.</label>
                                    <div class="controls" validator>
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                                            </div>
                                            <textarea type="" id="descricaoPremioOuRemuneracaoConcurso"
                                                name="descricaoPremioOuRemuneracaoConcurso" class="form-control"
                                                formControlName="descricaoPremioOuRemuneracaoConcurso"
                                                autocomplete="off">
                                            </textarea>
                                        </div>
                                    </div>

                                </ng-container>
                            </ng-template>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="col-form-label" for="criterioDesempateMEEPP">Licitação com preferência
                                para ME e EPP (Art. 44, Lei Complementar 123/2006)</label>
                            <div class="controls">
                                <label class="switch switch-label switch-pill switch-success">
                                    <input id="criterioDesempateMEEPP" type="checkbox" class="switch-input"
                                        formControlName="criterioDesempateMEEPP" />
                                    <span class="switch-slider" data-checked="Sim" data-unchecked="Não"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="col-form-label" for="destinacaoExclusivaMEEPP">Destinação exclusiva a
                                ME e EPP (Art. 48, I, Lei Complementar 123/2006)</label>
                            <div class="controls">
                                <label class="switch switch-label switch-pill switch-success">
                                    <input id="destinacaoExclusivaMEEPP" type="checkbox" class="switch-input"
                                        formControlName="destinacaoExclusivaMEEPP" />
                                    <span class="switch-slider" data-checked="Sim" data-unchecked="Não"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="col-form-label" for="subcontratacaoMEEPP">Exigência de subcontratação
                                de ME e EPP (Art. 48, II, Lei Complementar 123/2006)</label>
                            <div class="controls">
                                <label class="switch switch-label switch-pill switch-success">
                                    <input id="subcontratacaoMEEPP" type="checkbox" class="switch-input"
                                        formControlName="subcontratacaoMEEPP" />
                                    <span class="switch-slider" data-checked="Sim" data-unchecked="Não"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="col-form-label" for="limitePercObjetoContratacaoMEEPP">Estabeleceu
                                limite percentual do objeto para a contratação de ME e EPP? (Art. 48, III, Lei
                                Complementar 123/2006)</label>
                            <div class="controls">
                                <label class="switch switch-label switch-pill switch-success">
                                    <input id="limitePercObjetoContratacaoMEEPP" type="checkbox" class="switch-input"
                                        formControlName="limitePercObjetoContratacaoMEEPP" />
                                    <span class="switch-slider" data-checked="Sim" data-unchecked="Não"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="col-form-label" for="processoPorLote">Processo realizado por
                                lote</label>
                            <div class="controls">
                                <label class="switch switch-label switch-pill switch-success">
                                    <input id="processoPorLote" type="checkbox" class="switch-input"
                                        formControlName="processoPorLote" />
                                    <span class="switch-slider" data-checked="Sim" data-unchecked="Não"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="col-form-label" for="servicoContinuo">Trata-se de prestação de serviço
                                a ser executado de forma contínua.</label>
                            <div class="controls">
                                <label class="switch switch-label switch-pill switch-success">
                                    <input id="servicoContinuo" type="checkbox" class="switch-input"
                                        formControlName="servicoContinuo" />
                                    <span class="switch-slider" data-checked="Sim" data-unchecked="Não"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="controls" validator>
                                <label class="col-form-label" for="codNaturezaProcedimento">Natureza do
                                    Procedimento</label>
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tipo</span>
                                    </div>
                                    <select class="form-control" id="codNaturezaProcedimento"
                                        formControlName="codNaturezaProcedimento">
                                        <option></option>
                                        <option *ngFor="let item of naturezaProcedimento" [ngValue]="item.codigo">
                                            {{item.descricao}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="controls" validator>
                                <label class="col-form-label" for="codTipoLicitacaoCriterioJulgamento">Tipo de Licitacao
                                    e Criterio de Julgamento</label>
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tipo</span>
                                    </div>
                                    <select class="form-control" id="codTipoLicitacaoCriterioJulgamento"
                                        formControlName="codTipoLicitacaoCriterioJulgamento">
                                        <option></option>
                                        <option *ngFor="let item of tipoLicitacao" [ngValue]="item.codigo">
                                            {{item.descricao}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="controls" validator>
                                <label class="col-form-label" for="codNaturezaObjeto">Natureza do Objeto</label>
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tipo</span>
                                    </div>
                                    <select class="form-control" id="codNaturezaObjeto"
                                        formControlName="codNaturezaObjeto" (change)="onCodNaturezaObjeto($event)">
                                        <option></option>
                                        <option *ngFor="let item of naturezaObjeto" [ngValue]="item.codigo">
                                            {{item.descricao}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="controls" validator>
                                <label class="col-form-label" for="codRegimeExecucao">Regime de execução</label>
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tipo</span>
                                    </div>
                                    <select class="form-control" id="codRegimeExecucao"
                                        formControlName="codRegimeExecucao">
                                        <option></option>
                                        <option *ngFor="let item of regimeExecucao" [ngValue]="item.codigo">
                                            {{item.descricao}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </c-card>
            </div>
        </div>
        <div class="row animate__animated animate__shakeX" *ngIf="formValue('uuid')">
            <div class="col-lg-12">
                <c-card [cardTitle]="tbTitle">
                    <tabset [justified]="true">
                        <tab heading="Lote" (selectTab)="onSelectTab($event)">
                            <c-lote [form]="formulario"></c-lote>
                        </tab>
                        <tab heading="Responsáveis" (selectTab)="onSelectTab($event)">Short Labeled Justified content
                        </tab>
                        <tab heading="Parecer" (selectTab)="onSelectTab($event)">Long Labeled Justified content
                        </tab>
                        <tab heading="Comissão" (selectTab)="onSelectTab($event)">Long Labeled Justified content
                        </tab>
                    </tabset>
                </c-card>
            </div>
        </div>
        <div class="row animate__animated animate__shakeX" *ngIf="formValue('uuid')">
            <div class="col-lg-12">
                <c-card [cardTitle]="tbTitle2">
                    <tabset [justified]="true">
                        <tab heading="Recurso Orcamentário" (selectTab)="onSelectTab($event, 2)">Long Labeled Justified
                            content
                        </tab>
                        <tab heading="Publicação" (selectTab)="onSelectTab($event,2)">Long Labeled Justified content
                        </tab>
                        <tab heading="Edital e Anexos" (selectTab)="onSelectTab($event,2)">Long Labeled Justified
                            content
                        </tab>
                        <tab heading="Natureza detalhada" (selectTab)="onSelectTab($event,2)">Long Labeled Justified
                            content
                        </tab>
                    </tabset>
                </c-card>
            </div>
        </div>
        <app-acoes [form]="formulario" [layout]="layout"></app-acoes>
    </form>
</div>