<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-table"></i>{{title}}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <h4 class="card-title mb-0">{{title}}</h4>
                            <div class="small text-muted">&nbsp;</div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div [formGroup]="formulario" class="col-sm-5">
                            <div class="controls">
                              <div class="input-prepend input-group" >
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input formControlName="descricao" type="text" id="id" class="form-control" placeholder="Digite para pesquisar...">
                              </div>
                            </div>
                        </div>

                        <div class="col-sm-7">
                            <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    Importar tabela <input #file type="file" style="display: none;"
                                    (change)="onFileChange($event.target.files)" accept=".json">                                    
                                    <i class="fa fa-cloud-download"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <table datatable class="table table-striped" style="margin-top: 10px;">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Vigência</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of page?.content" scope="row">
                                <td >{{item.codigo}}</td>
                                <td>{{item.descricao}}</td>
                                <td>{{item.vigencia}}</td>
                                <td>
                                    <span
                                        class="badge badge-{{item.ativo?'success':'secondary'}}">{{item.ativo?"Ativo":"Inativo"}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination [boundaryLinks]=true [firstText]="'Início'" [lastText]="'Último'"
                        [previousText]="'&lsaquo;'" [nextText]="'&rsaquo;'" [totalItems]="page?.totalElements"
                        [itemsPerPage]="page?.size" (pageChanged)="pageChanged($event)"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>