<div class="row">
  <div class="col-xl-4">
    <a class="card2" [routerLink]="'/TABELA'">
      <h3>Tabelas</h3>
      <p class="small">Tabelas de domínio</p>
      <div class="go-corner" href="#">
        <div class="go-arrow">
          →
        </div>
      </div>
    </a>
  </div>
  <div class="col-xl-4">
    <a class="card2" [routerLink]="'/DOMINIO/MENU'">
      <h3>Sidebar</h3>
      <p class="small">Configurar Sidebar Menu</p>
      <div class="go-corner" href="#">
        <div class="go-arrow">
          →
        </div>
      </div>
    </a>
  </div>
</div>