

<label class="col-form-label" for="idDocumentoPDF">{{title}}</label>
<div class="controls" [formGroup]="formGroup">
  <div class="input-prepend input-group">
    <input type="text" id="idDocumentoPDF" class="form-control" formControlName="idDocumentoPDF" readonly>
    <div class="input-group-prepend">
      <label class="btn btn-primary">
        Upload <input #file type="file" style="display: none;" (change)="onFileChange($event.target.files)"
          [accept]="extensions">
      </label>
    </div>
  </div>
</div>
