<!--<label class="col-form-label" [for]="name">Arquivo</label>
<div class="input-group">
  <div class="custom-file">
    <input type="file" class="custom-file-input" [formControlName]="name" [id]="name"
      (change)="onFileChange($event.target.files)">
    <label class="custom-file-label" #labelImport [for]="name">
      <i class="fa fa-search"></i>Enviar arquivo</label>
  </div>
</div>

<div class="upload-btn-wrapper">
    <button class="btn">Upload a file</button>
    <input type="file" name="myfile" />
</div>-->
<label class="btn btn-primary">
    Upload <input #file type="file" style="display: none;" (change)="onFileChange($event.target.files)" [accept]="extensions">
</label>