@import '~ng-wizard/themes/ng_wizard.min.css';

/* Optional */
/* If a theme other than default is used, the css file for that theme is required. */
@import '~ng-wizard/themes/ng_wizard_theme_arrows.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_dots.min.css';

// .ng-invalid.touched:not(form) {
//   border-color: red;
//   border-width: 1px;
// }
// body{
//   background-color: #f2f4f8;
// }

 .modal{
 //  display:flex;
   top:5%;
   //border: 0px;
 }

 .modal-content {
 //  position: relative;
 //  display: -webkit-box;
 //  display: flex;
 //  -webkit-box-orient: vertical;
 //  -webkit-box-direction: normal;
  // flex-direction: column;
  // width: 100%;
  // pointer-events: auto;
  // background-clip: padding-box;
   border: none;
   border-radius: 0.5rem;
   //outline: 0;
 }


.btn {
  margin-right: 5px;
}
.has-error {
  border-style: solid;
  border-width: thin;
  border-color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


fieldset{
  border: 1px groove #fbfbfb5c !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #fbfbfb5c;
  box-shadow: 0px 0px 0px 0px #fbfbfb5c
}

legend{
  font-size: .9em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 5px;
  border-bottom: none;
}
