<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Regulamentação dos procedimentos
          licitatórios
        </div>
        <div class="card-body">
          <form class="form-horizontal">
            <div class="form-group">
              <!-- row -->
              <div class="row">
                <div class="col-lg-6">
                  <label class="col-form-label" for="prependedInput">Tipo de regulamentação</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Tipo</span>
                      </div>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="col-form-label" for="prependedInput">Existe Regulamentacao Municipal</label>
                  <div class="controls">
                    <label class="switch switch-label switch-pill switch-success">
                      <input type="checkbox" class="switch-input">
                      <span class="switch-slider" data-checked="Sim" data-unchecked="Não"></span>
                    </label>
                  </div>
                </div>
              </div>
              <!-- row  1-->

              <!-- row  2-->
              <div class="row">
                <div class="col-lg-6">
                  <label class="col-form-label" for="prependedInput">Número Decreto Municipal</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">N°</span>
                      </div>
                      <input type="text" id="prependedInput" name="text-input" class="form-control" placeholder="Text">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <label class="col-form-label" for="prependedInput">Data Decreto Municipal</label>
                  <div class="controls">
                    <input type="date" id="text-input" name="text-input" class="form-control" placeholder="Text">
                  </div>
                </div>
                <div class="col-lg-3">
                  <label class="col-form-label" for="prependedInput">Data Publicação</label>
                  <div class="controls">
                    <input type="date" id="text-input" name="text-input" class="form-control" placeholder="Text">
                  </div>
                </div>
              </div>
              <!-- row  2-->

              <!-- row  3-->
              <div class="row">
                <div class="col-lg-6">
                  <label class="col-form-label" for="inputGroupFile04">Decreto Municipal</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04">
                      <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                    </div>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <label class="col-form-label" for="prependedInput">Data Decreto Municipal</label>
                  <div class="controls">
                    <input type="date" id="text-input" name="text-input" class="form-control" placeholder="Text">
                  </div>
                </div>
                <div class="col-lg-3">
                  <label class="col-form-label" for="prependedInput">Data Publicação</label>
                  <div class="controls">
                    <input type="date" id="text-input" name="text-input" class="form-control" placeholder="Text">
                  </div>
                </div>
              </div>
              <!-- row 3-->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Detalhamento da regulamentação do Artigo 47 da Lei Complementar 123/06
        </div>
        <div class="card-body">
          <form class="form-horizontal">
            <div class="form-group">
              <!-- row -->
              <div class="row">
                <div class="col-lg-6">
                  <label class="col-form-label" for="prependedInput">Tipo de regulamentação</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Tipo</span>
                      </div>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="col-form-label" for="prependedInput">Existe Regulamentacao Municipal</label>
                  <div class="controls">
                    <label class="switch switch-label switch-pill switch-success">
                      <input type="checkbox" class="switch-input">
                      <span class="switch-slider" data-checked="Sim" data-unchecked="Não"></span>
                    </label>
                  </div>
                </div>
              </div>
              <!-- row  1-->

              <!-- row  2-->
              <div class="row">
                <div class="col-lg-6">
                  <label class="col-form-label" for="prependedInput">Número Decreto Municipal</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">N°</span>
                      </div>
                      <input type="text" id="prependedInput" name="text-input" class="form-control" placeholder="Text">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <label class="col-form-label" for="prependedInput">Data Decreto Municipal</label>
                  <div class="controls">
                    <input type="date" id="text-input" name="text-input" class="form-control" placeholder="Text">
                  </div>
                </div>
                <div class="col-lg-3">
                  <label class="col-form-label" for="prependedInput">Data Publicação</label>
                  <div class="controls">
                    <input type="date" id="text-input" name="text-input" class="form-control" placeholder="Text">
                  </div>
                </div>
              </div>
              <!-- row  2-->

              <!-- row  3-->
              <div class="row">
                <div class="col-lg-6">
                  <label class="col-form-label" for="prependedInput">Decreto Municipal</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04">
                      <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                    </div>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <label class="col-form-label" for="prependedInput">Data Decreto Municipal</label>
                  <div class="controls">
                    <input type="date" id="text-input" name="text-input" class="form-control" placeholder="Text">
                  </div>
                </div>
                <div class="col-lg-3">
                  <label class="col-form-label" for="prependedInput">Data Publicação</label>
                  <div class="controls">
                    <input type="date" id="text-input" name="text-input" class="form-control" placeholder="Text">
                  </div>
                </div>
              </div>
              <!-- row 3-->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-certificate"></i>Ações
        </div>
        <div class="card-body">
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">
              Save changes
            </button>
            <button type="submit" class="btn btn-primary">
              Transmitir changes
            </button>
            <button class="btn btn-secondary" type="button">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>