.card {
  display: inline-block;
  /* box-shadow: 0 1px 2px #d7e0ea; */
  border-radius: 6px;
  border-top: 8px solid #0577f1;
  padding: 1rem;
  margin-bottom: 3rem;
}
.card-primary {
  border-top: 8px solid #55a5fa;
  border-left: 1px solid  #55a5fa;
  border-right: 1px solid  #55a5fa;
  border-bottom: 1px solid  #55a5fa;
}
.card-secondary {
  border-top: 8px solid #0577f1;
  border-left: 1px solid  #0577f1;
  border-right: 1px solid  #0577f1;
  border-bottom: 1px solid  #0577f1;
  
}

.card-success {
  border-top: 8px solid #19a339;
  border-left: 1px solid  #19a339;
  border-right: 1px solid  #19a339;
  border-bottom: 1px solid  #19a339;
}
.card-danger {
  border-top: 8px solid #fc0015;
  border-left: 1px solid  #fc0015;
  border-right: 1px solid  #fc0015;
  border-bottom: 1px solid  #fc0015;
}
.card-warning {
  border-top: 8px solid #fcb32b;
  border-left: 1px solid  #fcb32b;
  border-right: 1px solid  #fcb32b;
  border-bottom: 1px solid  #fcb32b;
}
.card-info {
  border-top: 8px solid #8294bb;
  border-left: 1px solid  #8294bb;
  border-right: 1px solid  #8294bb;
  border-bottom: 1px solid  #8294bb;
}
.card-light {
  border-top: 8px solid #ebebeb;
  border-left: 1px solid  #ebebeb;
  border-right: 1px solid  #ebebeb;
  border-bottom: 1px solid  #ebebeb;
}
.card-dark {
  border-top: 8px solid #6e6e6e;
  border-left: 1px solid  #6e6e6e;
  border-right: 1px solid  #6e6e6e;
  border-bottom: 1px solid  #6e6e6e;
}

.card:nth-child(3n + 1) {
  display: block;
  /**transform: translateY(50%);**/
}

.line {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
}
.icon {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  /* 
  margin-left: auto; */
}

.ctnFlex {
  display: flex;
  /*justify-content: start;*/
  justify-content: flex-start;
}

div.op1 {
  display: inline-block;
  font-size: 3vw;
  text-align: center;
}

div.op2 {
  display: inline-block;
  margin-right: 0vw;
  font-size: 3vw;
  margin-top: 2%;
  margin-left: 10px;
}

.right {
  text-align: end;
  margin-top: 20px;
}

.icon-success {
  background-image: url("assets/img/custom-alert/success.png");
}
.icon-danger {
  background-image: url("assets/img/custom-alert/danger.png");
}
.icon-warning {
  background-image: url("assets/img/custom-alert/warning.png");
}
.icon-info {
  background-image: url("assets/img/custom-alert/info.png");
}

.icon-question {
  background-image: url("assets/img/custom-alert/question.png");
}

.icon-info:before {
  content: "";
}

.icon-success:before {
  content: "";
}

.icon-danger::before {
  content: "";
}
.icon-warning:before {
  content: "";
}
.icon-question:before {
  content: "";
}

.btn-question {
  color: #ffffff;
  background-color: #32a2ec;
  border-color: #f0f3f5;
}

.btn-question:hover{
  color: #ffffff;
  background-color: #066eb4;
  border-color: #d1dbe1;
}

.fix-size {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
